#random, #download
{
    display: inline-block;
    margin-top: 2.5em;
}


body > div.container > div > button.slick-prev.slick-arrow
{
    background-color: red;
}

body > div.container > div > button.slick-next.slick-arrow
{
    background-color: red;
}
