body
{
    background-image: url("../img/background/rainbowbackground.jpg");
    background-size: cover;
}

#logo
{
    margin-left: 5em;
    position: absolute;
    top: 0px;
    width: 10%;
}

#random, #download
{
    display: inline-block;
    margin-top: 2.5em;
}

#zombieMode
{
    z-index: 2 !important;
    background-color: rgba(0, 255, 0, 0.3);
}

#zombieMode > div
{
    z-index:-1;
}


#zombieMode > div > button.slick-prev.slick-arrow
{
    z-index: 5;
    background-color: #F44336;
    padding: 1.5rem;
    margin-left: 4px;
    border-radius: 0px 10px 0px 10px;
}

#zombieMode > div > button.slick-prev.slick-arrow:before
{
    position: relative;
    bottom: 22px;
    right: 29px;
    font-size: 40px;
}

#zombieMode > div > button.slick-next.slick-arrow
{
    z-index: 5;
    background-color: #2196F3;
    padding: 1.5rem;
    margin-right: 4px;
    border-radius: 0px 10px 0px 10px;
}

#zombieMode > div > button.slick-next.slick-arrow:before
{
    position: relative;
    bottom: 22px;
    right: 12px;
    font-size: 40px;
}

