body
{
    background-image: url("../img/background/rainbowbackground.jpg");
    background-size: cover;
}

#logo
{
    position: absolute;
    top: -12px;
    margin-left: 43%;
    transform: rotate(180deg);
    width: 13%;
}

#random, #download
{
    display: inline-block;
    margin-top: 2.5em;
}

#zombieModeDiv
{
    z-index: 2 !important;
    background-color: rgba(0, 255, 0, 0.3);
}

#zombieModeDiv > div > div
{
    z-index:-1;
}


#zombieModeDiv > div > button.slick-prev.slick-arrow
{
    z-index: 5;
    background-color: #F44336;
    padding: 1.5rem;
    margin-left: 4px;
    border-radius: 0px 10px 0px 10px;
}

#zombieModeDiv > div > button.slick-prev.slick-arrow:before
{
    position: relative;
    bottom: 22px;
    right: 29px;
    font-size: 40px;
}

#zombieModeDiv > div > button.slick-next.slick-arrow
{
    z-index: 5;
    background-color: #2196F3;
    padding: 1.5rem;
    margin-right: 4px;
    border-radius: 0px 10px 0px 10px;
}

#zombieModeDiv > div > button.slick-next.slick-arrow:before
{
    position: relative;
    bottom: 22px;
    right: 12px;
    font-size: 40px;
}


#zombieModeButton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#zombieModeButton:hover 
{
    background-color: #3e8e41
}

#zombieModeButton:active 
{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

